.navbar-nav.align-items-center
    .nav-item.d-flex.align-items-center
        i.bx.bx-search.fs-4.lh-0
        input.form-control.border-0.shadow-none(type='text', placeholder='Search...', aria-label='Search...')