// build:js assets/vendor/js/core.js
script(src='/assets/vendor/libs/jquery/jquery.js')
script(src='/assets/vendor/libs/popper/popper.js')
script(src='/assets/vendor/js/bootstrap.js')
script(src='/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js')
script(src='/assets/vendor/js/menu.js')
// endbuild
// Vendors JS
script(src='/assets/vendor/libs/apex-charts/apexcharts.js')
// Main JS
script(src='/assets/js/main.js')
// Page JS
script(src='/assets/js/dashboards-analytics.js')
// Place this tag in your head or just before your close body tag.
script(async='', defer='', src='https://buttons.github.io/buttons.js')