doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/assets/css/pricing.css')
    
    title puzzle book creator pricing
  body
    .header
      .inner-header.flex
        section
          center
            h1(style="font-size: 2.5em;font-family: 'Open Sans', sans-serif; color: white;")
              | choose your preferred package
          .pricing.pricing-palden
            .pricing-item.features-item.ja-animate(data-animation='move-from-bottom', data-delay='item-0', style='min-height: 497px;')
              .pricing-deco
                svg#Layer_1.pricing-deco-img(enable-background='new 0 0 300 100', height='100px', preserveAspectRatio='none', version='1.1', viewBox='0 0 300 100', width='300px', x='0px', xml:space='preserve', y='0px')
                  path.deco-layer.deco-layer--1(d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z', fill='#FFFFFF', opacity='0.6')
                  path.deco-layer.deco-layer--2(d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z', fill='#FFFFFF', opacity='0.6')
                  path.deco-layer.deco-layer--3(d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716H42.401L43.415,98.342z', fill='#FFFFFF', opacity='0.7')
                  path.deco-layer.deco-layer--4(d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z', fill='#FFFFFF')
                .pricing-price
                  span.pricing-currency $USD
                  | 20
                  span.pricing-period / month
                h3.pricing-title Basic
              ul.pricing-feature-list
                li.pricing-feature unlimited puzzle book creation for 1 month 
                //- li.pricing-feature Responsive Design
                //- li.pricing-feature Content Upload
              a.pricing-action(href="/orderpage/basic") Choose plan
            .pricing-item.features-item.ja-animate.pricing__item--featured(data-animation='move-from-bottom', data-delay='item-1', style='min-height: 497px;')
              .pricing-deco(style='background: linear-gradient(135deg,#a93bfe,#584efd)')
                svg#Layer_1.pricing-deco-img(enable-background='new 0 0 300 100', height='100px', preserveAspectRatio='none', version='1.1', viewBox='0 0 300 100', width='300px', x='0px', xml:space='preserve', y='0px')
                  path.deco-layer.deco-layer--1(d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z', fill='#FFFFFF', opacity='0.6')
                  path.deco-layer.deco-layer--2(d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z', fill='#FFFFFF', opacity='0.6')
                  path.deco-layer.deco-layer--3(d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716H42.401L43.415,98.342z', fill='#FFFFFF', opacity='0.7')
                  path.deco-layer.deco-layer--4(d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z', fill='#FFFFFF')
                .pricing-price
                  span.pricing-currency $USD
                  | 100
                  span.pricing-period / 6 months
                h3.pricing-title Premium
              ul.pricing-feature-list
                li.pricing-feature unlimited puzzle book creation for 6 months
                //- li.pricing-feature Responsive Design
                //- li.pricing-feature Content Upload
              a.pricing-action(href="/orderpage/premium") Choose plan
            .pricing-item.features-item.ja-animate(data-animation='move-from-bottom', data-delay='item-2', style='min-height: 497px;')
              .pricing-deco
                svg#Layer_1.pricing-deco-img(enable-background='new 0 0 300 100', height='100px', preserveAspectRatio='none', version='1.1', viewBox='0 0 300 100', width='300px', x='0px', xml:space='preserve', y='0px')
                  path.deco-layer.deco-layer--1(d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z', fill='#FFFFFF', opacity='0.6')
                  path.deco-layer.deco-layer--2(d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z', fill='#FFFFFF', opacity='0.6')
                  path.deco-layer.deco-layer--3(d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716H42.401L43.415,98.342z', fill='#FFFFFF', opacity='0.7')
                  path.deco-layer.deco-layer--4(d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z', fill='#FFFFFF')
                .pricing-price
                  span.pricing-currency $USD
                  | 200
                  span.pricing-period / year
                h3.pricing-title Platinum
              ul.pricing-feature-list
                li.pricing-feature unlimited puzzle book creation for 1 year
                //- li.pricing-feature Responsive Design
                //- li.pricing-feature Content Upload
              a.pricing-action(href="/orderpage/platinum") Choose plan

      h3.pricing-title *please be a good citizen. no bots

      div
        svg.waves(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 24 150 28', preserveAspectRatio='none', shape-rendering='auto')
          defs
            path#gentle-wave(d='M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z')
          g.parallax
            use(xlink:href='#gentle-wave', x='48', y='0', fill='rgba(255,255,255,0.7')
            use(xlink:href='#gentle-wave', x='48', y='3', fill='rgba(255,255,255,0.5)')
            use(xlink:href='#gentle-wave', x='48', y='5', fill='rgba(255,255,255,0.3)')
            use(xlink:href='#gentle-wave', x='48', y='7', fill='#fff')